<html>
  <head>
    <title>YummySoup Viewer</title>
    <link href='http://fonts.googleapis.com/css?family=Oxygen+Mono' rel='stylesheet' type='text/css'>
    <link href="css/browser.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 1024px)" href="css/kindle_fire.css" />
  </head>
  <body>
  <%=#readRecipe%>
  <%=#returnSomething%>
  boo
  </body>
</html>
