<html>
  <head>
    <title>YummySoup Viewer</title>
    <link href='http://fonts.googleapis.com/css?family=Oxygen+Mono' rel='stylesheet' type='text/css'>
    <link href="css/viewer_page.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
<h1>Display ALL the things!!</h1>
  <%=returnSomething%>
  </body>
</html>
